@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.25;
}

.header .header-bar:after {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 92%;
  right: 0;
  transition: all .3s ease;
}
.header-bar .arrow {
  border: 2px solid #fff;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  top: -4px;
  height: 12px;
  left: 6px;
  position: relative;
  width: 12px;
  overflow: hidden;
  transform: rotate(45deg);
  opacity: .8;
  transition: all .3s ease;
}

.arrow:hover {
  top: 4px;
  transform: rotate(220deg);
}

.logo img {
  width: 30px;
}
.logo a {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 900;
}
.logo:hover {
  transform: scale(1.1);
}
.container {
  width: 91%;
  margin: 10px auto;
  max-width: 1150px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}
li {
  list-style: none;
}
.btn {
  padding: 8px 0px;
  border: solid #fff 2px;
  border-radius: 50px;
  width: 90px;
  text-align: center;
  font-weight: 700;
}
.btn:hover {
  transform: scale(1.05);
}
.p-bg {
  font-size: 2.2rem;
}

.header {
  position: absolute;
  justify-content: space-between;
  color: #fff;
  height: 70px;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  padding: 0px 65px 8px;
  margin-top: -25px;
  overflow: hidden;
}
.header.flex {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .header-bar {
  display: flex;
  align-items: center;
}

.header-right .btn-login {
  margin-right: 10px;
}
.header-right .btn-sign-up {
  background-color: #fff;
}
.header-right .btn-sign-up a {
  color: #000000;
}
.header-bar {
  padding: 25px 0;
  margin-left: 100px;  
}
.header .header-bar:before {
  content: "";
  position: absolute;
  left: 39%;
  transform: translateY(26px);
  display: none;
  /* transition: all .3s ease; */

}
.header-bar:hover {
  border-bottom: solid #fff 2px;
}
.header .header-bar.open:before {
  display: initial;
}

.header .header-bar p {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
}

.header .header-bar i {
  font-size: 2rem;
  font-weight: 200;
}
.dropdown-container {
  position: relative;
  width: 100%;
  background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
  padding-top: 100px;
  overflow: hidden;
  display: none;
  transition: transform .3s ease-in;
}

.dropdown-container .close i {
  color: white;
  font-size: 2.5rem;
  font-weight: 100;
  cursor: pointer;
  transform: rotate(45deg)
}
.dropdown-content {
  justify-content: space-between;
  width: 91%;
  margin: 0 auto;
  padding-left: 100px;
}
.dropdown-content > :last-child {
  align-self: flex-start;
  margin-top: 24px;
}
.right-content, .left-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 40px;
}
.p-header {
  margin: 4px 0 2px;
  font-size: .9rem;
}
.dropdown-content a:hover {
  text-decoration: underline;
}

.showcase {
  position: relative;
  width: 100%;
  z-index: -1;
  top: 0%;
  left: -50%;
  transform: translate(50%, -50%);
  height: 95vh;
  margin: 190px 0 0px;
  padding: 90px 0 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/cellular-man.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.showcase-text {
  flex-direction: column;
}
.p-bg {
  margin-bottom: 60px;
  font-weight: 100;
  font-size: 2.2rem;
}
.showcase-btn {
  width: 65%;
  background-color: rgb(0, 112, 186);
  border: none;
  padding: 15px 0;
  margin-bottom: 25px;
}
.showcase-btn:hover {
  background-color: rgb(7, 120, 196);
}

.p-sm {
  font-size: 0.9rem;
  font-weight: 600;
}
/* Hero section ends */

.online {
  color: #2c2e2f;
  margin: -200px 0 80px;
}
.online-text {
  flex-direction: column;
}

.light {
  font-weight: 100;
}
.p-bg {
  font-size: 2.3rem;
  margin-bottom: 40px;
}
.small{
  font-size: 1.8rem;
}
.online-btn, .connect-btn {
  border: solid #0070ba 1px;
  width: 30%;
  margin-top: 25px;
  padding: 15px 0;
}
.online-btn {
  color: #0070ba;
  font-weight: 700;
}
.icon {
  margin-bottom: 20px;
}
.icon i {
  color: #0070ba;
  text-align: center;
  font-size: 60px;
  opacity: .8;
}
.online-text .p-sm {margin-top: -25px;}

/* online ends */

.connect  {
  background-color: #f7f9fa;
  color: #2c2e2f;
  padding: 80px 0;
}
.connect-text, .card-details {
  flex-direction: column;
}
.connect a {
  color: #2c2e2f;
}
.connect-link .p-sm {
  padding-bottom: 5px;
  border-bottom: solid #666666 1.5px;
}
.cards {
  margin-top: 40px;
  flex-direction: row;
  opacity: 1;
  justify-content: space-between;
  width: 85%;
}
.arrow-connect {
  border: 1px solid #666;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  opacity: .8;
}

.guide {
  justify-content: space-between;
  flex-wrap: wrap;
}
.guide- {
  flex-basis: 30%;
}
.guide- a:hover {
  text-decoration: underline;
}
.guide- .p-sm {
  font-size: 0.8rem;
}
.number {
  padding: 10px 16px;
  border: solid silver 1px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1.1rem;
}
.connect-btn {
  width: 17%;  
}
a.btn.connect-btn {
  color: #0070ba;
}

/* connect ends */

.deals {
  background-color: #003087;
  padding: 80px 0;
}
.deals-text {
  flex-direction: column;
}
.deal-content {
    margin-top: 80px;
    justify-content: space-between;
    align-items: flex-start;
}
.deal {
  flex-basis: 40%;
  padding: 0 50px 0 0px;
  justify-content: flex-start;
}
.deal-content > :last-child {
  padding-right: 0px;
  
}
.deals .p-bg {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.deal .p-sm {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 20px;
  min-height: 132px;
}
.deal {
  flex-direction: column;
  align-items: flex-start;
}
.deal a {
  font-weight: 700;
}
.deal a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

/* deals end */

.newsletter {
  background-color: #f7f9fa;
  color: #2c2e2f;
  padding: 80px 0;
}
.newsletter-text {
  flex-direction: column;
}
.newsletter-text .p-bg {
  font-size: 1.7rem;
}

.newsletter-btn {
  color: #fff;
  margin: 0;
  font-weight: 700;
  width: 32%;
  background-color: rgb(0, 112, 186);
  padding: 15px 0;
  margin-bottom: 25px;
}
.newsletter-btn:hover {
  background-color: rgb(3, 100, 165);
}
a.btn.newsletter-btn {
  font-size: 1rem;
}

/* newsletter ends */

.footer {
  color: #666666;
  padding: 50px 0;
}
.footer a {
  color: #666666;
  font-size: .85rem;
  font-weight: 700;
}
.footer1 ul {
  justify-content: flex-start;
}
.footer1 li, .footer2 li {
  margin: 10px 30px 10px 0;
}
.footer1 a:hover {
  text-decoration: underline;
}
.footer hr {
  opacity: .5;
}
.footer2 {
  justify-content: space-between;
}
.footer2 li {
  margin-right: 20px;
}
.footer2 ul > :last-child {
  margin-right: 0;
}
.footer2 li a, .footer3 a, .footer p {
  font-size: 0.75rem;
  color: #666666;
  font-weight: 500;
}
.footer2 a:hover, .footer3 a:hover {
  text-decoration: underline;
}
.footer3 a, .guide- a {
  color: rgb(3, 100, 165);
}