@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.25;
}

/* UTILITIES */

.mobile-container {
  display: none;
}

.container {
  width: 91%;
  margin: 10px auto;
  max-width: 1150px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GENERAL STYLE */

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}
li {
  list-style: none;
}
.btn {
  padding: 8px 0px;
  border: solid #fff 2px;
  border-radius: 50px;
  width: 90px;
  text-align: center;
  font-weight: 700;
}
.btn:hover {
  transform: scale(1.05);
}
.p-bg {
  font-size: 2.2rem;
}

/* HERO/HEADER STYLE */

.logo img {
  width: 30px;
}
.logo a {
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 900;
}
.logo:hover {
  transform: scale(1.1);
}

.header {
  position: absolute;
  justify-content: space-between;
  color: #fff;
  height: 70px;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
  padding: 0px 65px 8px;
  margin-top: -25px;
  overflow: hidden;
}
.header.flex {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .header-bar {
  display: flex;
  align-items: center;
}

.header-right .btn-login {
  margin-right: 10px;
}
.header-right .btn-sign-up {
  background-color: #fff;
}
.header-right .btn-sign-up a {
  color: #000000;
}
.header-bar {
  padding: 25px 0;
  /* margin-left: 50px;   */
  transition: transform .553s ease-in-out;
}

.header .header-bar::after {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 92%;
  right: 0;
  /* transition: all .3s ease; */
}

.header-bar .arrow {
  border: 2px solid #fff;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  content: '';
  display: inline-block;
  top: -4px;
  height: 12px;
  left: 6px;
  position: relative;
  width: 12px;
  overflow: hidden;
  transform: rotate(45deg);
  opacity: .8;
  transition: all .3s ease;
}

.arrow:hover {
  top: 4px;
  transform: rotate(220deg);
}
.header .header-bar:before {
  content: "";
  position: absolute;
  /* left: 39%; */
  /* transform: translateY(26px); */
  display: none;
}
.header-bar:hover {
  border-bottom: solid #fff 2px;
}
/* .header .header-bar.open:before {
  display: initial;
} */

.header .header-bar p {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 10px;
}

.header .header-bar i {
  font-size: 2rem;
  font-weight: 200;
}
.dropdown-container {
  position: relative;
  width: 100%;
  background: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
  padding-top: 100px;
  overflow: hidden;
  display: none;
}

/* .dropdown-container .close i {
  color: white;
  font-size: 2.5rem;
  font-weight: 100;
  cursor: pointer;
  transform: rotate(45deg)
} */
.dropdown-content {
  justify-content: space-between;
  width: 91%;
  margin: 0 auto;
  padding-left: 100px;
}
.dropdown-content > :last-child {
  align-self: flex-start;
  margin-top: 24px;
}
.right-content, .left-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 40px;
}
.p-header {
  margin: 4px 0 2px;
  font-size: .9rem;
}
.dropdown-content a:hover {
  text-decoration: underline;
}

/* SHOWCASE STYLE */

.showcase {
  position: relative;
  width: 100%;
  z-index: -1;
  top: 0%;
  left: -50%;
  transform: translate(50%, -50%);
  height: 95vh;
  margin: 190px 0 0px;
  padding: 90px 0 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/cellular-man.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.showcase-text {
  flex-direction: column;
}
.p-bg {
  margin-bottom: 60px;
  font-weight: 100;
  font-size: 2.2rem;
}
.showcase-btn {
  width: 65%;
  background-color: rgb(0, 112, 186);
  border: none;
  padding: 15px 0;
  margin-bottom: 25px;
}
.showcase-btn:hover {
  background-color: rgb(7, 120, 196);
}

.p-sm {
  font-size: 0.9rem;
  font-weight: 600;
}

/* ONLINE SECTION STYLE */

.online {
  color: #2c2e2f;
  margin: -200px 0 80px;
}
.online-text {
  flex-direction: column;
  text-align: center;
}

.light {
  font-weight: 100;
}
.p-bg {
  font-size: 2.3rem;
  margin-bottom: 40px;
}
.small{
  font-size: 1.8rem;
}
.online-btn, .connect-btn {
  border: solid #0070ba 1px;
  width: 30%;
  margin-top: 25px;
  padding: 15px 0;
}
.online-btn {
  color: #0070ba;
  font-weight: 700;
}
.icon {
  margin-bottom: 20px;
}
.icon i {
  color: #0070ba;
  text-align: center;
  font-size: 60px;
  opacity: .8;
}
.online-text .p-sm {margin-top: -25px;}

/* CONNECT SECTION STYLE */

.connect  {
  background-color: #f7f9fa;
  color: #2c2e2f;
  padding: 80px 0;
}
.connect-text, .card-details {
  flex-direction: column;
}
.connect a {
  color: #2c2e2f;
}
.connect-link .p-sm {
  padding-bottom: 5px;
  border-bottom: solid #666666 1.5px;
}
.cards {
  margin-top: 40px;
  flex-direction: row;
  opacity: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.card  {
  flex-shrink: 1;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guide {
  justify-content: space-between;
  flex-wrap: wrap;
}
.guide- {
  min-height: 100px;
  flex-basis: 30%;
}
.guide- a:hover {
  text-decoration: underline;
}
.guide- .p-sm {
  font-size: 0.8rem;
}
.number {
  padding: 10px 16px;
  border: solid silver 1px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 1.1rem;
}
.connect-btn {
  width: 17%;  
}
a.btn.connect-btn {
  color: #0070ba;
}

/* DEALS SECTION STYLE */

.deals {
  background-color: #003087;
  padding: 80px 0;
}
.deals-text {
  flex-direction: column;
}
.deal-content {
    margin-top: 80px;
    justify-content: space-between;
    align-items: flex-start;
}
.deal {
  flex-basis: 40%;
  padding: 0 50px 0 0px;
  justify-content: flex-start;
}
.deal-content > :last-child {
  padding-right: 0px;
  
}
.deals .p-bg {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.deal .p-sm {
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 20px;
  min-height: 132px;
}
.deal {
  flex-direction: column;
  align-items: flex-start;
}
.deal a {
  font-weight: 700;
}
.deal a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

/* NEWSLETTER SECTION STYLE */

.newsletter {
  background-color: #f7f9fa;
  color: #2c2e2f;
  padding: 80px 0;
}
.newsletter-text {
  flex-direction: column;
}
.newsletter-text .p-bg {
  font-size: 1.7rem;
}

.newsletter-btn {
  color: #fff;
  margin: 0;
  font-weight: 700;
  width: 32%;
  background-color: rgb(0, 112, 186);
  padding: 15px 0;
  margin-bottom: 25px;
}
.newsletter-btn:hover {
  background-color: rgb(3, 100, 165);
}
a.btn.newsletter-btn {
  font-size: 1rem;
}

/* FOOTER SECTION STYLE */

.footer {
  color: #666666;
  padding: 50px 0 20px;
}

.mobile-footer .footer2, .mobile-footer .footer2-right {
  display: none;
}
.footer a {
  color: #666666;
  font-size: .85rem;
  font-weight: 700;
}
.footer1 ul {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer1 li, .footer2 li {
  margin: 10px 30px 10px 0;
}
.footer1 a:hover {
  text-decoration: underline;
}
.footer hr {
  opacity: .5;
}
.footer2 {
  justify-content: space-between;
}
.footer2 li {
  margin-right: 20px;
}
.footer2 ul > :last-child {
  margin-right: 0;
}
.footer2 li a, .footer3 a, .footer p {
  font-size: 0.75rem;
  color: #666666;
  font-weight: 500;
}
.footer2 a:hover, .footer3 a:hover {
  text-decoration: underline;
}
.footer3 a, .guide- a {
  color: rgb(3, 100, 165);
}


/* media */

@media screen and (max-width: 700px) {
  .hero {
    display: none;
  }

  .mobile-container {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/cellular-man.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-mobile {
    padding: 30px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    max-height: 100px;
    margin: auto;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: absolute;
    background: radial-gradient(circle farthest-side at left  bottom,#009cde,#003087);
    border-right: 2px solid #003087;
    top: 0px;
    z-index: 2;
    width: 50vw;
    padding: 30px 20px 50px 30px;
    transform: translateX(-500px);
    transition: transform .55s ease-in-out;
    left: -40px;
  }

  .side-menu.active {
    transform: translateX(0px);
  }
  .menu-btn {
    position: relative;
  }

  .menu-tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255, .2)
  }

  .menu-tag p {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 15px;
  }

  .menu-tag p:hover {
    text-decoration: underline;
  }

  .menu-btn i {
    margin-right: 5px;
  }
  
  .btn-sign-up {
    width: 100%;
    padding: 20px 0;
  }

  .inner-links {
    position: absolute;
    background: radial-gradient(circle farthest-side at left  bottom,#009cde,#003087);
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0px;
    padding: 30px 20px 50px 30px;
    transform: translateX(-500px);
    transition: transform 0.55s ease-in-out;
  }

  .inner-links.active {
    transform: translateX(0px);
  }

  .inner-links p {
    margin-bottom: 20px;
  }
  .innerlink-btn:hover {
    text-decoration: underline;
  }

  .inner-links .menu-tag {
    border-bottom: none;
  }

  .innerlink-btn i {
    margin-right: 5px;
  }
  .online {
    margin: 20px auto 50px;
    width: 90%;
  }

  .showcase {
    position: initial;
    width: 90%;
    left: 0;
    margin: 20px auto;
    height: auto;
    text-align: center;
    transform: translate(0%,0%);
    background-image: initial;
  }

  .p-bg {
    margin-bottom: 30px;
    font-size: 1.7rem;
  }
  .showcase-btn {
    width: 45%;
  }

  /* connects */

  .connect-text .p-bg {
    text-align: center;
  }
  .cards {
    flex-direction: column;
    flex-basis: 1;
  }
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .connect span {
    display: none;
  }
  .online-btn, .connect-btn, .newsletter-btn {
    width: 40%;
  }
  .guide- {
    min-height: initial;
  }


  /* deals */

  .deals {
    padding: 50px 0;
  }

  .deals .h-bg {
    text-align: center;
  }

  .deal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .deals .deal .p-bg {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .deal {
    margin-bottom: 20px;
    padding: 0;
  }
  .deal .p-sm {
    margin-bottom: 12px;
    min-height: initial;
  }

  /* newsletter */

  .newsletter {
    padding: 50px 0;
  }

  /* footer */

  .footer-content .footer2 {
    display: none;
  }

  .footer hr {
    margin: 10px 0;
  }
  .footer1 ul {
    justify-content: center;
  }
  .mobile-footer .footer2,  .mobile-footer .footer2-right {
    display: block;
  }
  
  .mobile-footer .footer2-left ul {
    flex-wrap: wrap;
  }

  .footer1 ul li, .mobile-footer .footer2-left li {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .footer2-right {
    margin-top: 10px;
  }

  .footer3 {
    margin-top: 10px;
  }
}

@media screen and (max-width:505px) {
  .logo img {
    width: 20px;
  }
  .logo a {
    font-size: 1.1rem;
  }

  .deals .deal .p-bg {
    font-size: 1.4rem;
  }

  .newsletter-text .p-bg {
    font-size: 1.4rem;
  }
  .newsletter-btn {
    width: 50%;
  }
}